
img[alt='Organizer Menu'],
img[alt='Guest Menu'],
img[alt='Organizer QR'],
img[alt='Manage Topics'],
img[alt='Scrum Voting'],
img[alt='Visualize Votes'],
img[alt='Remove Participant'],
img[alt='Join SCrum'],
img[alt='Await Topic'],
img[alt='Submit Vote'] {
    width: 60%;
}

img[alt='home-screen'],
img[alt='account-screen'] ,
img[alt='guest-screen'] ,
img[alt='profile-screen'] ,
img[alt='scrum-screen']  {
    width: 50%;;
}

table td, table th{
    padding: 10px;
    border-top: 1px solid #ccc;
}

table{
    border-bottom: 1px solid #ccc;
}